body {
  font-family: 'Kanit', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.titleLogo {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.pokeArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddcccc;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .pokeArticle figcaption {
    text-align: center;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    bottom: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  
#nav {
  overflow: hidden;
  margin-top: 40px;
}

#buttonNextList {
  float: right;
  margin: 0 10%;
}

.buttonNextList {
  float: left;
  margin: 0 10%;
}

.buttons {
  width: 150px;
  background-color: #ec0707;
  color: white;
  border: none;
}


